# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @raisty @SashaZezulinsky @eduardosanchezg
accounts/scwallet               @raisty @SashaZezulinsky @eduardosanchezg
accounts/abi                    @raisty @SashaZezulinsky @eduardosanchezg
cmd/clef                        @raisty @SashaZezulinsky @eduardosanchezg
cmd/puppeth                     @raisty @SashaZezulinsky @eduardosanchezg
consensus                       @raisty @SashaZezulinsky @eduardosanchezg
core/                           @raisty @SashaZezulinsky @eduardosanchezg
dashboard/                      @raisty @SashaZezulinsky @eduardosanchezg
xce/                            @raisty @SashaZezulinsky @eduardosanchezg
graphql/                        @raisty @SashaZezulinsky @eduardosanchezg
les/                            @raisty @SashaZezulinsky @eduardosanchezg
light/                          @raisty @SashaZezulinsky @eduardosanchezg
mobile/                         @raisty @SashaZezulinsky @eduardosanchezg
p2p/                            @raisty @SashaZezulinsky @eduardosanchezg
rpc/                            @raisty @SashaZezulinsky @eduardosanchezg
p2p/simulations                 @raisty @SashaZezulinsky @eduardosanchezg
p2p/protocols                   @raisty @SashaZezulinsky @eduardosanchezg
p2p/testing                     @raisty @SashaZezulinsky @eduardosanchezg
signer/                         @raisty @SashaZezulinsky @eduardosanchezg
whisper/                        @raisty @SashaZezulinsky @eduardosanchezg
