[Core]
accounts/abi                    @error2215 @rasty @SashaZezulinsky
consensus                       @error2215 @rasty @SashaZezulinsky
core/                           @error2215 @rasty @SashaZezulinsky
xcb/                            @error2215 @rasty @SashaZezulinsky
graphql/                        @error2215 @rasty @SashaZezulinsky
les/                            @error2215 @rasty @SashaZezulinsky
light/                          @error2215 @rasty @SashaZezulinsky

[Network]
p2p/                            @error2215 @rasty @SashaZezulinsky
rpc/                            @error2215 @rasty @SashaZezulinsky
p2p/simulations                 @error2215 @rasty @SashaZezulinsky
p2p/protocols                   @error2215 @rasty @SashaZezulinsky
p2p/testing                     @error2215 @rasty @SashaZezulinsky
signer/                         @error2215 @rasty @SashaZezulinsky

[Command]
cmd/clef                        @error2215 @rasty @SashaZezulinsky

[Wallets]
accounts/usbwallet              @error2215 @rasty @SashaZezulinsky
accounts/scwallet               @error2215 @rasty @SashaZezulinsky

[Devices]
mobile/                         @error2215 @rasty @SashaZezulinsky
